.poem{
    height: 848px;
    width: 630px;
    margin-left: 340px;
    padding: 1em;
    background: whitesmoke;
    border-style: groove;
    border-width: 7px;
    border-color: rgb(87, 7, 7);
    color: rgb(77, 5, 5);
    }    
h2 {
    color: rgb(77, 5, 5);
    margin-left: 10px;
    text-shadow: 2px 2px 5px brown;
}