#poems {
    font-size: 25px;
    margin-right: 40px;
    color: white;
    }

#poetry {
    color: white;
    font-size: 50px;
    margin-left: 10px;
    text-decoration: underline;
}
/*.desc {
    color:white;
    font-size:10px;
    margin-right: 40px;
}*/
#tips {
    color: white;
    font-size: 25px;
    margin-right: 50px;
}
#btn {
    background-color: rgb(45, 6, 125);
}
#logo {
    margin-left: 1%;
    height: 25vh;

}