.modal {
    margin-top: 10%;
}
#press {
    background-color: rgb(15, 113, 7);
}
#title {
    color: rgb(5, 5, 72);
}
#update {
    color: rgb(5, 5, 72);
}
#comp {
    height: 10vh;
    width: 36vw;
}