.table {
    color: navy;

}
h3 {
    color:white;
}
.delete {
    color: rgb(4, 4, 62);
    background-color: rgb(219, 213, 232)
}
.update {
    color: rgb(4, 4, 62);
    background-color: rgb(218, 216, 208);
}
#cap {
    height: 25vh;
    width: 18vw;
}