.poems {
    background-color: whitesmoke;
    height: 65vh;
    width: 35vw;
    margin-left: 35%;
    margin-top: 2%;
    padding: 30px;
    border-style: groove;
    border-width: 10px;
    border-color: rgb(67, 24, 152);
}
.poems-list {
    font-size: 22px;
    list-style-type: none;
}